# Build files
build/*

# Output windows file (Exception comes AFTER the ignore rule)
!build/mello.exe

# To Do file
todo.txt

# Ignore VS Code settings folder FIRST
.vscode/*

# Allow useful shared settings (Exceptions come AFTER the ignore rule)
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json