# Build files
build/*

# Output windows file
!build/mello.exe

# Ignore VS Code settings folder
.vscode/*

# Allow useful shared settings
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json